body {
	background-color: #92D1D1;
}

ul li {
	list-style:none;
}

.indexPic {
	width:200px;
	height:200px;
	object-fit: cover;
	margin-left: 20%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.indexList {

	margin-left:auto;
	margin-right:auto;
	float:none;
}

hr {
	size: 10px;
}

.line {
	height:30px;
	width: 100px;
}


.indexAlign {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	float:none;
}

.profile {
	background-color:white;
	border:5px solid #DC4227;
	padding-top:20px;
	padding-bottom:15px;
	padding-right:3%;
}

.allyProfiles:hover {
	text-decoration:none;
}

.enemyProfiles {
	color:#DC4227;
}

.enemyProfiles:hover {
	text-decoration: none;
	color:#9F000F;
}

.indexLeft {
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	float:none;
}

.profileButton {
	margin-left:0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.heading {
	font-family: 'Bangers', cursive;
	font-size:600%;
	color:#DC4227;
	text-shadow: 
   		-4px -4px 0 #FDF105,  
    	4px -4px 0 #FDF105,
    	-4px 4px 0 #FDF105,
     	4px 4px 0 #FDF105,
     	6px 6px 0 #9F000F;
}

.name {
	font-size: 200%;
	font-family: 'Bangers', cursive;
}

.profileName {
	font-size: 600%;
	font-family: 'Bangers', cursive;
	color:white;
	text-shadow: 
   		-4px -4px 0 black,  
    	4px -4px 0 black,
    	-4px 4px 0 black,
     	4px 4px 0 black,
     	6px 6px 0 black;
}

.profilePic {
	width:400px;
	height:400px;
	object-fit: cover;
	border:solid 3px #404040;
	border-radius:5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subheading {
	font-family: 'Bangers', cursive;
	font-size:300%;
	color:white;
	text-shadow: 
   		-4px -4px 0 black,  
    	4px -4px 0 black,
    	-4px 4px 0 black,
     	4px 4px 0 black;
 
}

.buttonCol {
	padding-top:3%;
	padding-left:0%;
}
.aboutCol {
	padding-right:2%;
}

.aboutMe {
	font-family: 'Oswald', sans-serif;
	font-size: 120%;
	margin-right:2%;
}

.profileText {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 120%;
}


.infoColBackground {
	background-color:white;
/*	border: solid 3px grey;*/
	padding-left:6%;
	padding-right:4%;
	padding-top:1%;
	padding-bottom:1%;
	border-radius:5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageCenter {
	float:none;
	margin-left:auto;
	margin-right:auto;
}

.centerInfo {
	float:none;
	margin-left:auto;
	margin-right:auto;
}

.bioCol {
	width:80%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 120%;
	/*border: solid 3px grey;*/
	padding:2%;
	background-color:white;
	border-radius:5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.miniHeader {
	font-family: 'Oswald', sans-serif;
	font-size:130%;
	font-weight:bold;
}

.profileLogo {
	font-family: 'Bangers', cursive;
	font-size:250%;
	color:#DC4227;
	text-shadow: 
   		-2px -2px 0 #FDF105,  
    	2px -2px 0 #FDF105,
    	-2px 2px 0 #FDF105,
     	2px 2px 0 #FDF105,
     	3px 3px 0 #9F000F;

}